* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("../font/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: Panton-Regular;
  src: url("../font/Panton-Trial-Regular.ttf");
}

@font-face {
  font-family: Panton-ExtraBold;
  src: url("../font/Panton-Trial-ExtraBold.ttf");
}

$bg-color: rgb(7, 0, 21);
$violet-first: #8e67da;
$violet-second: rgb(98, 36, 223);
$white-color: rgba(255, 255, 255, 0.7);


@mixin box-shadow{
  box-shadow: 0 0 5px $violet-first;
}
@mixin border{
  border:1px solid $violet-second;
}
